
target/
*.class
*.jar
*.war
*.ear
*.nar
*.log


pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.mvn/wrapper/maven-wrapper.jar



.idea/
*.iml
*.iws
*.ipr
out/


.vscode/
*.code-workspace
.history/


.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache/


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


.DS_Store
.AppleDouble
.LSOverride


*~
.fuse_hidden*
.directory
.Trash-*


.env
.env.local
.env.*.local
application-secret.properties
application-secret.yml